body {
  font-family: Georgia;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: white;
  background-image: url('/view/img/comfy.jpg');
  background-size: cover;
}
#msgBubble {
  height: 89.5%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}
#userMsg {
  font-size: 18px;
  min-height: 10px;
  resize: vertical;
  outline: none;
  border: none;
  margin-bottom: 50px;
  background: #1E296B;
  color: #fff;
  box-shadow: 0 0 5px rgba(254, 255, 255, 0.2);
  border-radius: 25px;
  padding-left: 10px;
  overflow-y: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100%;
  max-height: 100px;
}
#userMsg::placeholder {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%)
} 

a {
  text-decoration: none;
  color: inherit;
  cursor: auto;
  /* Any other properties you want to reset */
}

.btn {
  width: 20%;
}

.texbox {
  width: 75%;
}

i {
  font-size: 2rem;
}

#msgbtn {
  color: rgba(250, 250, 250, 0.9);
  background: #1E296B;
  box-shadow: 0 0 5px rgba(250, 250, 250, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 26px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: transparent;
  padding: 10px 0px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  
}



p {
  margin-bottom: 12px;
  background: yellow;
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 12px;
  margin: 15px 20px;
  border-radius: 25px;
  resize: vertical;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  outline: black;
  word-wrap: break-word;
  text-align: left;
  color: #fff;
  font-size: 1.25rem;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}