<!DOCTYPE html>
<html>
     <head>
          <meta http-equiv="content-type" content="text/html; charset=utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>database fetch and update</title>
          <link rel="stylesheet" href="font-awesome/css/all.min.css">
          <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
     </head>
     <body>
        
    <div id="msgBubble" class="MsgDiv"></div>
    <div class="input-wrapper">
      <div class="texbox">
        <textarea type="text" name="userMsg" id="userMsg" class="mytextbox" placeholder="enter your message..." > </textarea>
      </div>
         <div class="btn">
           <button type="button" id="msgbtn"><i class="fas fa-bolt" id="sendButton"></i> </button>
         </div>
    </div>
    <script src="/js/home.js" type="text/javascript" charset="utf-8"></script>
     </body>
</html>