<!DOCTYPE html>
    <html>
         <head>
              <meta http-equiv="content-type" content="text/html; charset=utf-8" />
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>login!!</title>
              <link rel="stylesheet" href="view/css/login.css" type="text/css" media="all" />
              
         </head>
         <body>
              <div class="container">
  <div class="login">
    <h1>login<i>!!</i></h1>
    <input type="text" name="username" id="username" placeholder="enter your username" autocomplete="username"/>
   <input type="password" name="password" id="password" placeholder="enter your password" autocomplete="password"/>
    <button id="btn" type="button">Enter</button>
    <div class="reply"><i> </i>
    
    </div> 
    <button id="btnRD"><a href="http://localhost:3000/signup">signup? </a>  </button>
    </div>
    </div>
    <script src="view/js/login.js"></script>
         </body>
    </html>