<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="view/css/signup.css" type="text/css" media="all" />
</head>
<body>
    <div class="Register">
        <div class="signup">
            <h1>Signup</h1>
            <input type="text" name="userR" id="userR" placeholder="Enter username" autocomplete="new-username"/>
            <input type="password" name="passR" id="passR" placeholder="Enter password" autocomplete="new-password"/>
            <button id="btnR" type="button">Sign Up</button>
            <div class="reply3"></div>
            <button id="btnLD"><a href="http://localhost:3000/login">Login?</a></button>
        </div>
    </div>
<script src="/js/signup.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>